@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <hr>
            <div class="@(Job.Completed)">
                <h3>@Job.Title</h3>
                @if (@Job.Completed == true)
                {
                    <p>Completed</p>
                }
                else if (@Job.Pending == true)
                {
                    <p>Active</p>
                }
                else
                {
                    <p id="pending@(Job.JobId)">Pending</p>
                }
                @if (@Job.Completed == false)
                {
                    <div class="completion">
                        @if (@Job.Completed == false && @Job.Pending == true)
                        {
                            <button class="complete" id="@Job.JobId">Complete</button>
                        }
                        @if (@Job.Pending == false)
                        {
                            <button class="active" id="@Job.JobId">Active</button>
                        }
                    </div>
                }
            </div>
            <hr>
        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}





